{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{% include 'profile/profile_links.html.twig' %}
	<h1>Bibliometr -
		{{title}}</h1>
	<div class="container">
		<div class="container__box fieldset__container">
			<p>Tytuł:
				{{ pub.getTitle() }}</p>
			<p>Autorzy:
				{{ pub | AuthorsAsLink }}</p>
			<p>Data publikacji:
				{{ pub.getPublicationDate().format('Y-m-d H:i:s') }}</p>
			<p>Udziały:
				{{ pub | Shares }}</p>
			<p>Punkty ministerialne:
				{{ pub.getPoints() }}</p>
			<p>Czasopismo:
				{{ pub.getMagazine() }}</p>
			<p>Czasopismo:
				{{ pub.getConference() }}</p>
			<p>URL:
				<a href="{{ pub.getUrl()}}">{{ pub.getUrl() }}</a>
			</p>
			{% if app.user %}
				<p>
					{% set author = pub | IsAuthor %}
					{% if author == app.user.id or app.user.role == "admin" %}
						<a href="{{ path('editPublication', { 'id': pub.getId() }) }}">Edytuj</a>
					{% endif %}
				</p>
				<p>
					{% if app.user.role == "admin" %}
						<a href="{{ path('deletePublication', { 'id': pub.getId() }) }}">Usuń</a>
					{% endif %}
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
