{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{% include 'admin/admin_links.html.twig' %}

	<hr>
	<div class="divTable">
		<div class="divTableBody">
			<div class="divTableRow">
				<div class="divTableCell">Nazwa</div>
				<div class="divTableCell">Email</div>
				<div class="divTableCell">Rola</div>
				<div class="divTableCell">Edytuj</div>
				<div class="divTableCell">Usuń</div>
			</div>
		</div>
		{% for user in users %}
			<div class="divTableRow">
				<div class="divTableCell">{{ user.getName() }}</div>
				<div class="divTableCell">{{ user.getEmail() }}</div>
				<div class="divTableCell">{{ user.getRole() }}</div>
				<div class="divTableCell">
					<a href="{{ path('editProfile', { 'id': user.getId() }) }}">Edytuj</a>
				</div>
				<div class="divTableCell">
					<a href="{{ path('deleteUser', { 'id': user.getId() }) }}">Usuń</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
